iframe.app{
  width:100%;
  height:100vh;
  border:none;
  background:#FFF;
}

html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: arial, helvetica, verdana, sans-serif;
}

#main{
  height: 100%;
  width: 100%;
  display: flex;
  box-orient: horizontal;
}

#sideNav{
  background:#333;
  box-flex: 0;
  width:50px;
  padding:20px 10px;
  position:relative;
}
#sideNav path, #sideNav polygon{
  fill:#999;
}
#sideNav a:hover path, #sideNav a:hover polygon{
  fill:#AAA;
}
#sideNav a{
  display:block;
  margin-bottom: 20px;
}
#sideNav .logo{
  color: #777;
  font-size:200%;
  display:block;
  transform-origin:0 0;
  transform: rotate(-90deg);
  position:absolute;
  bottom:-0.5em;
  left:15px;
}

#content{
  background:#EEE;
  width:100%;
}

#admin{
  visibility:hidden;
  z-index:1000000;
  margin:15vh 15vw;
  height: 70vh;
  width: 70vw;
  background: #888;
  position:absolute;
  box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.5);
  display:flex;
  flex-direction: column;
}

#admin #header{
  padding:0.5rem;
  color:#FFF;
  background:#888;
  border-bottom:1px solid #666;
  text-align:center;
}

#admin #header a{
  color:#FFF;
  float:right;
  text-decoration:none;
}

#admin #adminAppList{
  background:#888;
  margin:0;
  padding:0;
	flex:1;
  border-right:1px solid #666;
}

#adminAppList li{
  background:#999;
  list-style-type: none;
  padding:1rem 0.5rem;
  border-bottom:1px solid #666;
  min-width:100px;
}

#adminAppList li a{
  text-decoration:none;
  color:#FFF;
}

#admin #adminApp{
  background:#888;
  height:100%;
	flex:3;
}

#admin #adminApp iframe{
  width: 100%;
  height:100%;
  border:none;
}

#admin .container{
	display: flex;
	flex:1;
}

.install{
  height:100%;
}
.install{
  display:flex;
  flex-direction:column;
  position:relative;
}

.install .window{
  flex:1;
}

.install .manual{
  padding:5px;
}

.admin iframe.appList{
  border:none;
  width:100%;
  height:100%;
}

div.app{
  min-width:300px;
  min-height:300px;
  display:inline-block;
  background:#999;
  background-size:cover;
  background-repeat:none;
  margin:10px 0 0 10px;
  position:relative;
  vertical-align:top;
}

div.app a{
  background:#000;
  font-size:230%;
  color:#FFF;
  text-decoration:none;
  display:inline-block;
  margin-top:60%;
}

div.app p{
  text-align:right;
  background:#FFF;
  padding:3px;
  margin:3px 0 0;
}

ul.apps{
  margin:0;
  padding:0;
}
ul.apps li{
  list-style-type:none;
  background:#DDD;
  padding:10px;
  margin:10px;
}
ul.apps h2, ul.apps p{
  margin:0;
  padding:0;
}
ul.apps h2{
  font-size: 120%;
}
ul.apps button{
  float: right;
}
.wifiSetup{
  padding:10px;
}
.wifiSetup a{
  text-decoration:none;
  color:#000;
}
#message{
  margin:10px;
  background: #DDD;
  display:none;
  padding:5px;
  color:#F66;
}
