[Unit]
Description=A Node.js app to control your Pi over the network
After=network.target

[Service]
WorkingDirectory=/usr/local/headlesspi/framework
ExecStart=/usr/local/headlesspi/framework/bin/headlesspi
StandardOutput=syslog+console
StandardError=syslog+console
Type=simple

[Install]
WantedBy=multi-user.target
Alias=headlesspi
