{{#> master }}
{{#*inline "content-block"}}
  {{#with apps}}
    {{#each apps}}
      {{#unless background }}
      <div class="app" style="background-image:url('/icons/{{path}}.jpg')"><a href="/{{path}}/">{{name}}</a><p>{{description}}</p></div>
      {{/unless}}
    {{/each}}
  {{/with}}

<script>
  var apps = document.querySelectorAll('div.app');
  for(var i=0; i<apps.length; i++){
    var a = apps[i].querySelector('a');
    apps[i].addEventListener('click', function(e){
      window.location = a.href;
    })
  }
</script>

{{/inline}}
{{/ master }}
