{{#> master }}
{{#*inline "content-block"}}
  {{#with apps}}
    {{#each apps}}
      {{#unless background }}
      <div class="app" style="background-image:url('/icons/{{path}}.jpg')"><a href="/{{path}}/">{{name}}</a><p>{{description}}</p></div>
      {{/unless}}
    {{/each}}
  {{/with}}

  {{#unless apps.apps.length}}
    <div class="app admin placeholder apps"><a href="#install-apps">Install apps!</a></div>
  {{/unless}}

  {{#if wifiConfig}}
    {{#unless connected}}
      <div class="app admin placeholder wifi"><a href="#wifi-setup">Connect WiFi!</a></div>
    {{/unless}}
  {{/if}}
<script>
  var apps = document.querySelectorAll('div.app');
  for(var i=0; i<apps.length; i++){
    var a = apps[i].querySelector('a');
    (function(href, app){
      console.log(app);
      console.log(href);
      app.addEventListener('click', function(e){
        window.location = href;
      })
    })(a.href, apps[i]);
  }
</script>

{{/inline}}
{{/ master }}
